{{!< layout}}

<div id="errorBlock" class="padded" hidden>
    <div class="error-block">
        <div class="error-image">
            <img src="/image/error.svg">
        </div>
        <div class="error-message-block">
            <h1>Unavailable Document Server</h1>
            <p class="error-message">{{__ "ONLYOFFICE cannot be reached. Please contact admin."}}</p>
        </div>
    </div>
</div>

<div id="placeholder"></div>
<script> 
    $(document).ready(function() {
        if (typeof DocsAPI === "undefined") {
            $("#errorBlock").show();
            return;
        }

        if (error = "{{error}}") {
            alert(error);
            return;
        }

        let jsonEditorConfig = JSON.parse(`{{{editorConfig}}}`);

        const locale = new Promise(function(resolve, reject) {
            AP.user.getLocale(function(lc) {
                resolve(lc);
            });
        });

        const timeZone = new Promise(function(resolve, reject) {
            AP.user.getTimeZone(function(tz) {
                resolve(tz);
            });
        });

        Promise.all([locale, timeZone]).then(values => {
            jsonEditorConfig.document.info.uploaded = new Date(jsonEditorConfig.document.info.uploaded).toLocaleString(values[0].replace("_", "-"), {timeZone: values[1]});
            jsonEditorConfig.editorConfig.lang = values[0].replace("_", "-");

            var DocEditor = new DocsAPI.DocEditor("placeholder", jsonEditorConfig);
        });
    });
</script>
