body {
    background-color: #fff;
}

.padded {
    margin: 300px;
}

.error-block {
    width: 600px;
    margin: auto;
}

.error-image {
    display: inline-block;
}

img {
    width: 100px;
}

.error-message-block {
    width: 500px;
    display: inline-block;
    position: absolute;
    margin-left: 15px;
    color: rgb(66, 82, 110);
}

.error-message {
    font-weight: bold;
} 

.error-description {
    font-size: 16px;
}

h1 {
    font-weight: bold;
    color: rgb(66, 82, 110);
}

p {
    font-size: 18px;
    font-weight: 300;
}